* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 229, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-spinner {
    border: 5px solid #000000;
    border-top: 5px solid rgb(248, 172, 148);
    border-radius: 100px;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}

.content {
    display: none; /* Ocultar o conteúdo até que o carregamento esteja completo */
}

body {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: rgb(255, 229, 221);
}

.aplicativo {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aplicativo-tela {
    background-color: rgb(255, 200, 183);
    width: 700px;
    height: 800px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px
}

.cabecalho-busca {
    display: flex;
    align-items: center;
    gap: 10px
}

.cabecalho input {
    padding: 0 10px;
    border: none;
}
  
.cabecalho-lupa {
    width: 20px;
    height: 20px;
}

.cabecalho-logo {
    width: 70px;
    height: 50px
}

.cabecalho-consulta {
    width: 350px;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
}

.cabecalho-nav {
    display: flex;
    flex-direction: column;
}

.cabecalho-nav-item {
    width: 28px;
    height: 28px;
    padding: 6px
}

.cabecalho-filtro-item {
    width: 30px;
    height: 30px;
    padding: 6px;
    transition: 0.3s;
}

.cabecalho-filtro-item:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.cabecalho-nav-item:hover {
    background-color: rgba(255, 255, 255, 0.308);
}

.mapa {
    width: 100%;
    height: 600px;
}

.mapa-interage {
    width: 100%;
    height: 100%;
}

.menu-acessar {
    transition: 0.5s;
}

.menu-acessar:hover {
    opacity: 50%;
    transform: scale(1.2);
    transition: 0.5s;
}

.menu-inferior {
    height: 110px;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px 0;
}

.menu-inferior-imagem {
    width: 50px;
    height: 50px
}

@media (max-width: 720px){
    .aplicativo-tela{
        width: 380px;
        height: 650px;
    }

    .cabecalho-consulta{
        width: 150px;
        height: 20px;
        font-size: 10px;
    }

    .cabecalho{
        gap: 20px
    }

    .cabecalho-logo{
        width: 40px;
        height: 30px;
    }

    .cabecalho-lupa {
        width: 15px;
        height: 15px
    }

    .cabecalho-filtro-item{
        width: 25px;
        height: 25px;
    }

    .mapa {
        height: 500px
    }

    .menu-inferior{
        height: 75px;
        gap: 40px
    }

    .menu-inferior-imagem{
        width: 30px;
        height:30px
    }
}